.change-amount-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Increase-button, .Decrease-button {
    width: 40px;
    height: 40px;
    background-color: #A9BB77;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: #404040;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.plus-icon, .minus-icon {
    width: 400px;
    height: 400px;
    stroke-width: 3.5;
}

.Increase-button:hover, .Decrease-button:hover {
    background-color: #98a96a;
}

.Increase-button:active, .Decrease-button:active {
    transform: scale(0.95);
}

.amount-display {
    width: 46px;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #404040;
    align-items: center;
    justify-content: center;
    display: flex;
}

.amount-display-text {
    font-size: 18px;
    color: #404040;
    text-align: center;
    line-height: 46px;
}