<app-page-title [title]="'Skabe'"></app-page-title>
<app-add-button (clicked)="onAddClick()"></app-add-button>
<div class="cabinets-container">
  <div *ngFor="let cabinet of userCabinets" [ngSwitch]="cabinet.type">
    <app-fridge *ngSwitchCase="'fridge'"></app-fridge>
    <app-freezer *ngSwitchCase="'freezer'"></app-freezer>
    <app-cabinet-normal *ngSwitchCase="'cabinet'"></app-cabinet-normal>
  </div>
  <app-add-cabinet-button (clicked)="onAddCabinetClick()"></app-add-cabinet-button>
</div>
<app-add-cabinet-popup *ngIf="showAddCabinetPopup" 
  (closed)="onPopupClosed()" 
  (cabinetAdded)="onCabinetAdded($event.type, $event.name)"></app-add-cabinet-popup>
