<app-page-title [title]="'Skabe'"></app-page-title>
<app-add-button (clicked)="onAddClick()"></app-add-button>
<div class="cabinets-container">
  <div *ngFor="let cabinet of userCabinets" [ngSwitch]="cabinet.index">
    <app-fridge *ngSwitchCase="0" [cabinetName]="cabinet.name"></app-fridge>
    <app-freezer *ngSwitchCase="1" [cabinetName]="cabinet.name"></app-freezer>
    <app-cabinet-normal *ngSwitchCase="2" [cabinetName]="cabinet.name"></app-cabinet-normal>
  </div>
  <app-add-cabinet-button (clicked)="onAddCabinetClick()"></app-add-cabinet-button>
</div>
<app-add-cabinet-popup *ngIf="showAddCabinetPopup" 
  (closed)="onPopupClosed()" 
  (cabinetAdded)="onCabinetAdded($event.index, $event.name)"></app-add-cabinet-popup>
