.login{
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #404040;
  margin-top: 15%;
  margin-left: 25%;
}

.signup{
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #404040;
  margin-top: 15%;
  margin-left: 25%;
}

