.add-list-button:hover {
  background-color: #98a96a;
}

.add-list-button:active {
  transform: scale(0.95);
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: 30px;
  margin-top: 30px;
}

.list-button {
  width: 100px;
  height: 150px;
  background-color: #A9BB77;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-button:hover {
  background-color: #98a96a;
}

.list-button:active {
  transform: scale(0.95);
}

.list-label {
  font-family: 'Sono', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  text-align: center;
  max-width: 110px;
  word-wrap: break-word;
}

.plus-icon {
  width: 100%;
  height: 100%;
  stroke-width: 2.3;
  color: #F6F0CB;
}