h3 {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 16px 12px 16px;
  color: #404040;
}

.quick-access-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 16px;
  margin-bottom: 20px;
}
