<app-page-title [title]="'Oversigt'"></app-page-title>
<app-add-button (clicked)="onAddClick()"></app-add-button>
<h3>Hurtig adgang</h3>
<div class="quick-access-container">
  <app-cabinet-normal (clicked)="onCabinetClick()"></app-cabinet-normal>
  <app-list (clicked)="onListClick()"></app-list>
</div>
<h3>Ugens opskrift</h3>
<app-recipe-box (clicked)="onRecipeClick()"></app-recipe-box>
<h3>Varer tæt på dato</h3>
<div *ngIf="dataLoaded; else loading">
  <div *ngFor="let item of expiringItemsSorted; let i = index">
    <app-cabinet-item
    [item]="item[i]"
    [displayName]="displayNameMap.get(item.itemID)"></app-cabinet-item>
  </div>
</div>

<ng-template #loading class="loading">
  <p class="dot-animation">læser skabe<span class="dots"></span></p>
</ng-template>
