h3 {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 16px 12px 16px;
  color: #404040;
}

.quick-access-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 16px;
  margin-bottom: 20px;
  margin-left: 30px;
}


p {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #404040;
  margin-left: 16px;
}

@keyframes dotAnimation {
  0%{ content: "";}
  33%{ content: "•";}
  66%{ content: "••";}
  100% { content: "•••";}
}

.dots::after{
  content: "";
  animation: dotAnimation 1.5s infinite;
  font-size: 1.2rem;
  color: #555;
}
