.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.popup-modal {
  background-color: #F6F0CB;
  border: 3px solid #768844;
  border-radius: 12px;
  padding: 30px;
  width: 302px;
  min-height: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #404040;
}

.item-input {
  width: 190px;
  height: 39px;
  padding: 10px 16px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #A9BB77;
  border: none;
  border-radius: 12px;
  font-family: 'Sono', sans-serif;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  color: #404040;
  text-align: center;
}

.item-input::placeholder {
  color: #666666;
  opacity: 0.7;
}

.item-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #768844;
}

.submit-button {
  background-color: #A9BB77;
  color: #404040;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  font-family: 'sono', sans-serif;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin: 20px auto;
}

.submit-button:hover {
  background-color: #98a96a;
}

.submit-button:active {
  transform: scale(0.95);
}