.nav-bar {
    --nav-bar-width: 388px;
    position: relative;
    height: 70px;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.home-but {
    position: absolute;
    left: 0%;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    bottom: 0px;
    z-index: 10001;
    width: 79px;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.home-but:active {
    background-color:rgb(66.27%, 73.33%, 46.67%); 
}

.button-icons {
    width: 79 px;
    height: 70 px;
    object-fit: contain;
    display: block;
    margin: 14px auto 0; 
    pointer-events: none;
}

.cabinets-but {
    position: absolute;
    left: 20%;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    bottom: 0px;
    z-index: 10001;
    width: 79px;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.cabinets-but:active {
    background-color: rgb(66.27%, 73.33%, 46.67%);
}

.grocery-list-but {
    position: absolute;
    left: 40%;
    bottom: 0px;
    z-index: 10001;
    width: 79px;
    height: 100%;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.grocery-list-but:active {
    background-color: rgb(66.27%, 73.33%, 46.67%);
}

.button-icons {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.recipe-but {
    position: absolute;
    left: 60%;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    bottom: 0px;
    z-index: 10001;
    width: 79px;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.recipe-but:active {
    background-color: rgb(66.27%, 73.33%, 46.67%);
}

.household-but {
    position: absolute;
    left: 80%;
    background-color: rgb(46.27%, 53.33%, 26.67%);
    bottom: 0px;
    z-index: 10001;
    width: 79px;
    height: 100%;  
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.household-but:active {
    background-color: rgb(66.27%, 73.33%, 46.67%);
}




    