.bigpane{
    position: absolute;
    display: flexbox;
    justify-content: center;
    width: 150px;
    height: 70px;
    margin: auto;
}

.pane{
    position: absolute;
    left: 90px;
    width: 200px;
    height: 70px;
    z-index: 9999;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    text-justify: left;
    font-weight: bold;
    font-size: 20px;
    appearance: none;
    text-overflow: '';
    box-shadow: 2px 3px 2px #000000;
}
  
.pane-handle{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50% 50% 50% 50%;
    z-index: 9998;
    cursor: move;  
    overflow: hidden;
    box-shadow: 1px 3px 2px 4px #92ad5f;
    background-color: #006e32;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 50% 50%;
}

