.filter-recipe-button {
 width: 34px;
 height: 34px;
 top: 130px;
 left: 275px;
 background-color: #A9BB77;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all 0.2s ease;
 position: absolute;
}

.filter-recipe-button img {
 width: 60px;
 height: 60px;
 object-fit: contain;
 margin-left: 6px;
 margin-top: 4px;
}
