.fridge-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: 0;
}

.fridge-button {
  width: 150px;
  height: 150px;
  background-color: #DADADA;
  color: #404040;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fridge-icon {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fridge-button::after {
  content: '';
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 12px;
  height: 123px;
  background-color: #9B9595;
  border-radius: 8px;
}

.fridge-button:hover {
  background-color: #BFBFBF;
  
}

.fridge-button:active {
  transform: scale(0.95);
}

.fridge-label {
  font-family: 'Sono', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  text-align: center;
  max-width: 100px;
  word-wrap: break-word;
}