:host {
  position: relative;
  display: block;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
}

::ng-deep .button-container .add-button {
  position: static !important;
  top: auto !important;
  right: auto !important;
}