:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.HouseholdBox-button {
  background-color: #FAF2C2;
  border: 1px solid #A9BB77;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin: 4px 2px 0px 0px;
  cursor: pointer;
  width: 369px;
  height: 119px;
  border-radius: 10px 10px 0px 0px;
  align-self: center;
  position: relative;
  overflow:hidden;
  transition: all 0.2s ease;
}

.HouseholdBox-button:hover {
  background-color: #F7E3A8;
}

.HouseholdBox-wrapper{
  margin-bottom: 2rem;
}

.HouseholdBox-wrapper:active{
  transform: scale(0.95);
}

.title-box {
  width: 100%;
  height: 21px;
  margin: 0;
  padding: 0;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #A9BB77;
}
