.add-cabinet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-left: 0;
}

.add-cabinet-button {
  width: 150px;
  height: 150px;
  background-color: #A9BB77;
  color: #F6F0CB;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  width: 120px;
  height: 120px;
  stroke-width: 2.3;
}

.add-cabinet-button:hover {
  background-color: #98a96a;
}

.add-cabinet-button:active {
  transform: scale(0.95);
}

.add-cabinet-label {
  font-family: 'Sono', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #404040;
  text-align: center;
  max-width: 100px;
  word-wrap: break-word;
}