.accept-button {
  border-radius: 10px;
  width: 100px;
  height: 44px;
  top: 688px;
  left: 144px;
  position: absolute;
  background-color: #A9BB77;
  border: none;
}

.accept-button:hover {
  background-color: #98a96a;
}

.accept-button:active {
  transform: scale(0.95);
}

.accept-text {
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
  font-style: medium;
}
