.aip-line {
  position: absolute;
  top: 407px;
  left: 13px;
  width: 367px;
  height: 15px;
  border-radius: 15px;
  background-color: #768844;
}
.AIP-title {
  position: absolute;
  top: 250px;
  left: 163px;
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}

.added-items-list {
  position: absolute;
  top: 442px;
  left: 13px;
  width: 367px;
  max-height: 350px;
  overflow-y: auto;
  background-color: #F6F0CB;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex: 1;
}

.item-name {
    font-family: 'Sono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    left: 18px;
    top: 456px;
    display: flex;
    position: static;
}

.item-date {
    font-family: 'Sono', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    left: 18px;
    top: 180px;
    position: static;
} 

app-change-amount {
  position: absolute;
  left: 232px;
  display: flex;
  justify-content: center;
}

.item-separator {
  left: 13px;
}

