.aip-line {
  position: absolute;
  top: 407px;
  left: 13px;
  width: 367px;
  height: 15px;
  border-radius: 15px;
  background-color: #768844;
}
.AIP-title {
  position: absolute;
  top: 250px;
  left: 163px;
  font-family: 'Sono', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}

.added-items-list {
  position: absolute;
  top: 442px;
  left: 13px;
  width: 367px;
  max-height: 350px;
  overflow-y: auto;
  background-color: #F6F0CB;
  border: none;
  border-radius: 8px;
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex: 1;
}

.item-top-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-name {
    font-family: 'Sono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #404040;
    position: static;
}

.item-date {
    font-family: 'Sono', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #404040;
    position: static;
} 

app-change-amount {
  display: flex;
  justify-content: center;
}

app-small-green-line {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
}

.back-button {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 30px;
  height: 30px;
  background-color:#A9BB77;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  color: #404040;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button:hover {
  background-color: #98a96a;
}
.back-button:active {
  transform: scale(0.95);
}

