.scanner-button {
  border-radius: 15px;
  width: 255px;
  height: 90px;
  top: 147px;
  left: 69px;
  position: absolute;
  background-color: #A9BB77;
  
}

.scannerLabel {
  color: #404040;
  font-size: 24px;
  font-family: 'Sono', sans-serif;
  font-weight: 600;
}


.scanner-button:hover {
  background-color: #98a96a;
}

.scanner-button:active {
  transform: scale(0.95);
}

.manual-add-button {
  border-radius: 15px;
  width: 255px;
  height: 90px;
  top: 287px;
  left: 69px;
  position: absolute;
  background-color: #A9BB77;;
}

.manual-add-button:hover {
  background-color: #98a96a;
}

.manual-add-button:active {
  transform: scale(0.95);
}

.aip-line {
  position: absolute;
  top: 407px;
  left: 13px;
  width: 367px;
  height: 15px;
  border-radius: 15px;
  background-color: #768844;
}

.accept-button {
  border-radius: 10px;
  width: 100px;
  height: 44px;
  top: 688px;
  left: 144px;
  position: absolute;
  background-color: #A9BB77;
}

.accept-button:hover {
  background-color: #98a96a;
}

.accept-button:active {
  transform: scale(0.95);
}
