<div class="popup-overlay" (click)="onClose()">
  <div class="popup-modal" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="onClose()">✕</button>

    <input
      type="text"
      class="food-item-input"
      placeholder="Indtast varenavn"
      [(ngModel)]="itemName"
    />

     <app-choose-cabinet
      class="cabinets-dropdown"
      [cabinets]="cabinets"
      (cabinetSelected)="onCabinetSelectedChange($event)">
    </app-choose-cabinet>

    <app-small-green-line class="compact"></app-small-green-line>  

 <span class="AIPopup-title1"> Antal </span>   
    <app-change-amount></app-change-amount>

       <app-small-green-line class="compact"></app-small-green-line>

    <span class="AIPopup-title2"> Udløbsdato </span>
  
  <input
      type="text"
      class="date-input"
      placeholder="00.00.00"
      pattern="\d{2}\.\d{2}\.\d{2}\"
      maxlength="8"
      [(ngModel)]="expirationDate"
      (input)="formatDate($event)"
    />

    <button class="submit-button" (click)="onSubmit()"> Godkend </button>

  </div>
</div>


