<div class="popup-overlay" (click)="onClose()">
  <div class="popup-modal" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="onClose()">✕</button>

    <input
      type="text"
      class="food-item-input"
      placeholder="Indtast varenavn"
      [(ngModel)]="itemName"
    />
 <span class="AIPopup-title"> Antal </span>    

<div style="margin-top: 20px; display: flex; justify-content: center;">
      <app-small-green-line></app-small-green-line>  

      <app-small-green-line></app-small-green-line>
    </div>
  </div>
</div>

