.recommended-title {
  font-family: 'Sono', sans-serif;
  font-weight: 800;
  margin-top: 70px;
  margin-left: 18px;
  color: #404040;
  font-size: 1.5rem;
}

app-recipe-box {
  display: block;
  margin-top: -15px;
  margin-left: 7px;
  width: 100%;
}