.manual-add-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.manualbutton {
  width: 255px;
  height: 90px;
  background-color: #A9BB77;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  position: absolute;
  top: 287px;
  left: 69px;
}

.manualbutton:hover {
  background-color: #98a96a;
}

.manualbutton:active {
  transform: scale(0.95);
}

.manualtext {
  font-family: 'Sono', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #404040;
}
