h3 {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 16px 12px 16px;
  color: #404040;
}

.add-hh-btn {
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 0%;
  display: flex;
  border-radius: 10px;
  border: none;
  overflow: hidden;
}

.add-hh-btn:active {
  transform: scale(0.95);
}

.add-hh-btn-ico:hover {
  opacity: 60%;
}