:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 15px;
}