:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
  overflow-x: hidden;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding-right: 15px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.title-row app-page-title {
  flex: 0 1 auto;
}

.title-actions {
  display: flex;
  align-items: center;
  gap: 0px;
  flex-shrink: 0;
  padding-top: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 15px;
  position: sticky;
  bottom: 0;
  z-index: 100;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-top: 100px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 5px 15px;
  font-family: 'Sono', sans-serif;
  font-size: 16px;
  color: #404040;
}

.item-row {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.item-checkbox {
  width: 33px;
  height: 33px;
  cursor: pointer;
  flex-shrink: 0;
}

.item-label {
  cursor: pointer;
  flex: 1;
}