.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-modal {
  background-color: #F6F0CB;
  border: 3px solid #768844;
  border-radius: 12px;
  padding: 20px;
  width: 302px;
  height: 351px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #404040;
}

.close-button:hover {
  color: #666;
}

.cabinet-input {
  width: 190px;
  height: 39px;
  padding: 10px 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 12px;
  font-size: 14px;
  box-sizing: border-box;
  background: #A9BB77;
  border: none;
  font-size: 18px;
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #404040;
}

.cabinet-input:focus {
  outline: none;
  border-color: #A9BB77;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.nav-button {
  background-color: #A9BB77;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 0;
}

.nav-button:hover {
  background-color: #98a96a;
  
}

.nav-button:active {
  transform: scale(0.95);
}

/* Left triangle - points left */
.nav-button.left-button {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  border-radius: 8px 0 0 8px;
}

/* Right triangle - points right */
.nav-button.right-button {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  border-radius: 0 8px 8px 0;
}

.cabinet-display {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}